{% extends 'Base/base.html' %}

{% block content %}

<main class="container">
    <section>
        <div class="mt-5 mb-5">
            <div class="card card-body">
                <div class="mb-2">
                    <h1>Listado de registros/consultas</h1>
                </div>
                <div class="table-responsive text-center">
                    <table class="table table-bordered align-middle ">
                        <thead class="table-light align-middle ">
                            <tr>
                                <th>#</th>
                                <th>Fecha de registro</th>
                                <th>ID mascota</th>
                                <th>Cedula del dueño</th>
                                <th>Motivo</th>
                                <th>Sintomatologia</th>
                                <th>Diagnostico</th>
                                <th>Tipo de Procedimiento</th>
                                <th>Detalles del Procedimiento</th>
                                <th>Historial de vacunacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <th scope="row">1</th>
                                <td>12/05/2023 : 8:20:54 pm</td>
                                <td>1</td>
                                <td>1000</td>
                                <td>Control</td>
                                <td>Vomito</td>
                                <td>En tratamiento</td>
                                <td>Curacion</td>
                                <td>Curacion sutura abdominal</td>
                                <td>A dia</td>
                                <td>
                                    <div class="d-grid gap-2">
                                        <a class="btn btn-success" href="">Editar</a>
                                        <a class="btn btn-danger" href="">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}