{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <div class="justify-content-center align-items-center row vh-100">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <div class="d-flex">
                    <div class="w-100">
                        <h1 class="mb-4">Menu principal</h1>
                    </div>
                </div>
                <div class="d-grid gap-2 col-10 mx-auto">
                  <a href="registrar_persona" class="btn btn-primary btn-lg mb-3">Registrar persona</a>
                  <a href="registrar_mascota" class="btn btn-primary btn-lg mb-3">Registrar mascota</a>
                  <a href="#" class="btn btn-primary btn-lg mb-3">Consulta</a>
                  <a href="#" class="btn btn-primary btn-lg mb-3">Consulta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}