{% extends 'Base/base.html' %}

{% block content %}
<main class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="mb-4">Menu principal</h1>
          <div class="d-grid gap-2 col-md-8 mx-auto">
            
            <div class="btn-group mb-4">
              <a href="{% url 'registrar_persona'%}" type="button" class="btn btn-primary btn-lg w-100">Registrar persona</a>
              <button type="button"
                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="{% url 'listar_persona'%}">Listar, editar o eliminar persona</a></li>
              </ul>
            </div>

            <div class="btn-group mb-4">
              <a href="{% url 'registrar_mascota'%}" type="button" class="btn btn-primary btn-lg w-100">Registrar mascota</a>
              <button type="button"
                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="{% url 'listar_mascota'%}">Listar,editar o eliminar mascota</a></li>
              </ul>
            </div>

            <div class="btn-group mb-4">
              <a href="{% url 'registrar_consulta'%}" type="button" class="btn btn-primary btn-lg w-100">Consulta</a>
              <button type="button"
                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="{% url 'listar_consulta'%}">Listar, editar o eliminar consulta</a></li>
              </ul>
            </div>

            <div class="btn-group mb-4">
              <a href="{% url 'registrar_factura'%}" type="button" class="btn btn-primary btn-lg w-100">Registrar factura</a>
              <button type="button"
                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="listar_factura">Listar, editar o eliminar factura</a></li>
              </ul>
            </div>

            <div class="btn-group mb-4">
              <a type="button" class="btn btn-primary btn-lg w-100">Historial clinico</a>
              <button type="button"
                class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu w-100">
                <li><a class="dropdown-item" href="#">preguntar a mateo</a></li>
                <li><a class="dropdown-item" href="#">preguntar a mateo</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}