{% extends 'base.html' %}

{% block content %}
<head>
    <title>Registrar Mascota</title>
</head>

<section>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="mb-3">Registrar Mascota</h2>
              <form action="" method="post" class="">
                 <!-- Poner desplegable que me traiga las cedular registradas -->
                <div class="form-group mb-3"> 
                  <label class="label">Cedula Dueño</label>
                  <input type="text" class="form-control" placeholder="Cedula dueño" name="" required>
                </div>
                <!-- Poner desplegable que me traiga las cedular registradas -->
                <div class="form-group mb-3">
                  <label class="label" for="password">Nombre de la mascota</label>
                  <input type="password" class="form-control" placeholder="Nombre de la mascota" name="" required>
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="name">Especie</label>
                  <input type="text" class="form-control" placeholder="Especie" name="" required>
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="name">Raza</label>
                  <input type="text" class="form-control" placeholder="Raza" name="" required>
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="name">Caracteristicas</label>
                  <input type="text" class="form-control" placeholder="Color, Tamaño, sexo" name="NombreUsuario" required>
                </div>
                <div class="form-group mb-3">
                  <label class="label" for="name">Peso</label>
                  <input type="password" class="form-control" placeholder="Peso en kilogramos (0,0)" name="" required>
                </div>
                <div class="d-flex justify-content-center mt-4 form-group">
                  <!-- Button trigger modal cancelar -->
                  <button type="submit" class="btn btn-secondary me-3" data-bs-toggle="modal"
                    data-bs-target="#cancelarModal">
                    Cancelar
                  </button>
  
                  <!-- Button trigger modal guardar-->
                  <button type="submit" class="btn btn-success ms-3" data-bs-toggle="modal"
                    data-bs-target="#guardarmodal">
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <!-- Modal de Confirmación de Guardar -->
    <div class="modal fade" id="guardarModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="guardarModalLabel">Guardar Cambios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Está seguro de que desea guardar los cambios?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal cancelar -->
    <div class="modal fade" id="cancelarModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="cancelarModalLabel">Confirmar cancelacion</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Esta seguro que desea regresar al menu principal?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}