{% extends 'base.html' %}

{% block content %}
<head>
    <title>Registrar Persona</title>
</head>
<section class="ftco-section">
    <div class="container">         
        <div class="p-5">
          <div class="border p-3 w-50 container-fluid">
            <div class="form-header">
              <h3>Registrar Persona</h3>
            </div>
            <form action="" method="post" class="">
              <div class="form-group mb-3">
                <label class="label text-start">Nombre(s)</label>
                <input type="text" class="form-control" placeholder="Nombre(s)" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Apellidos</label>
                <input type="password" class="form-control" placeholder="Apellidos" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Numero de Documento</label>
                <input type="text" class="form-control" placeholder="Numero de Documento" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Edad</label>
                <input type="text" class="form-control" placeholder="Edad" name="NombreUsuario" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Tipo de rol</label>
                <select class="form-select" aria-label="Default select example">
                  <option hidden value="">Seleccionar opción</option>
                  <option value="1">Administrador</option>
                  <option value="2">Dueño</option>
                  <option value="3">Veterinario</option>
                  <option value="4">Vendedor</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Usuario</label>
                <input type="text" class="form-control" placeholder="Usuario" name="NombreUsuario" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" name="NombreUsuario" required>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
{% endblock %}
