{% extends 'Base/base.html' %}

{% block content %}

<head>
  <title>Registrar Persona</title>
</head>

<main class="container">
  <section>
    <form action="" method="post">
      <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <h1 class="mb-4 text-center">Menu principal</h1>

              <div class="form-group mb-3">
                <label class="label">Nombre(s)</label>
                <input type="text" class="form-control" placeholder="Nombre(s)" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Apellidos</label>
                <input type="password" class="form-control" placeholder="Apellidos" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Numero de Documento</label>
                <input type="text" class="form-control" placeholder="Numero de Documento" name="" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Edad</label>
                <input type="text" class="form-control" placeholder="Edad" name="NombreUsuario" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Tipo de rol</label>
                <select class="form-select" aria-label="Default select example">
                  <option hidden value="">Seleccionar opción</option>
                  <option value="1">Administrador</option>
                  <option value="2">Dueño</option>
                  <option value="3">Veterinario</option>
                  <option value="4">Vendedor</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Usuario</label>
                <input type="text" class="form-control" placeholder="Usuario" name="NombreUsuario" required>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" name="NombreUsuario" required>
              </div>
              <div class="d-flex justify-content-center mt-4 form-group">
                <!-- Button trigger modal cancelar -->
                <button type="button" class="btn btn-secondary me-3" data-bs-toggle="modal"
                  data-bs-target="#cancelarModal">
                  Cancelar
                </button>

                <!-- Button trigger modal guardar-->
                <button type="button" class="btn btn-success ms-3" data-bs-toggle="modal"
                  data-bs-target="#guardarModal">
                  Guardar
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Modal guardar -->
      <div class="modal fade" id="guardarModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="guardarModalLabel">Confirmar guardar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esta seguro que desea guardar?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal cancelar -->
      <div class="modal fade" id="cancelarModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="cancelarModalLabel">Confirmar cancelacion</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esta seguro que desea regresar al menu principal?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a href="{% url 'inicio' %}" class="btn btn-primary">Regresar</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
{% endblock %}