{% extends 'Base/base.html' %}

{% block content %}
<main class="container">
    <section>
        <div class="mt-5 mb-4">
            <div class="card card-body">
                <div class="mb-2">
                    <h1>Listado de personas</h1>
                </div>
                <div class="table-responsive text-center">
                    <table class="table align-middle table-bordered">
                        <thead class="table-light align-middle">
                            <tr>
                                <th>#</th>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Edad</th>
                                <th>Rol</th>
                                <th>Usuario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <th scope="row">1</th>
                                <td>1000</td>
                                <td>juan</td>
                                <td>agudelo</td>
                                <td>22</td>
                                <td>veterinario</td>
                                <td>jpaa</td>
                                <td>
                                    <div class="d-grid gap-2 d-md-block">
                                        <a class="btn btn-success" href="">Editar</a>
                                        <a class="btn btn-danger" href="">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock%}